html {
  /* Changing the color here should hot-reload CSS. */
  background-color: green;
}

/* Commenting out this rule should reload the page. */
/* Also try adding it back. */
/* Also try renaming the class. */
.test {
  /* Changing the colors here should hot-reload CSS. */
  background-color: red;
  color: white;
  /* Adding a new property should hot-reload CSS. */
  /* font-weight: bold; */
  /* Also try removing it again. */
}

/* Adding a new class should reload the page. */
/* Also try removing it again. */
/* .test2 { */
/*   color: blue; */
/* } */
